:root {
  /* https://coolors.co/222222-e3170a-e3b505-56a3a6-ffffff */
  --eerie-black: #222f;
  --vermilion: #e3170aff;
  --saffron: #e3b505ff;
  --cadet-blue: #56a3a6ff;
  --white: #ffff;
  --ant-size: inital; /* set by JS */
  --ant-transition-duration: inital; /* set by JS */
}

body {
  margin: 0;
}

.ant {
  position: absolute;
  width: var(--ant-size);
  height: var(--ant-size);

  /* disable this for better performance */
  transition:
    top var(--ant-transition-duration),
    left var(--ant-transition-duration),
    transform var(--ant-transition-duration);
}
